@model IEnumerable<WebNews.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>List Posts</h2>

<p>
    @Html.ActionLink("Add Post", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostImg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostImg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PostId })
        </td>
    </tr>
}

</table>
